<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Single page</title>

        <script>

            function showsection (section) {
                
                fetch(`/singlepage/sections/${section}`)
                .then (respnse => respnse.text())
                .then (text => {
                    document.querySelector('#content').innerHTML = text;
                });
            }

            document.addEventListener('DOMContentLoaded', function() {
                document.querySelectorAll('button').forEach(button => {
                    button.onclick = function() {
                        showsection(this.dataset.section);
                    }
                })
            })
        </script>
         
    </head>
    <body>
        <h1>HELLO</h1>
        <button data-section="1">Section 1</button>
        <button data-section="2">Section 2</button>
        <button data-section="3">Section 3</button>
        <br>

        <div id="content">

        </div>
    </body>
</html>